<div class="row">
    <div class="panel panel-default">
        <div class="panel-heading">
            メッサージ一覧
        </div>
        <div class="panel-body">
            <% @messages.each do |message| %>
                <span class="label label-info"><%= message.name %></span>
                <br>
                <%= message.body %>
                <br>
            <% end %>
        </div>
    </div>
    <%= form_for(@message, html: {class: "form-horizontal"}) do |f| %>
        <div class="form-group">
            <div class="col-xs-2">
                名前<%= f.text_field :name , class: "form-control" , placeholder: "相馬暁広" %>
            </div>
        </div>
        <div class="form-group">
            <div class="col-xs-6">
                メッセージ<%= f.text_area :body, class: "form-control", rows: "6", placeholder: "メッセージを書こう！" %>
            </div>
        </div>
        <div class="for-group">
            <%= f.submit value: "送信", class: "btn btn-primary" %>
        </div>
    <% end %>
</div>